.navbar-container {
  display: flex;
  align-items: center;
  background-color: #1e1e2f;
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-end;
}

.navbar-left h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.navbar-toggle {
  display: none;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  .icon-btn {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      color: #e91e63;
    }
  }

  .profile-container {
    position: relative;
    cursor: pointer;

    .profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .dropdown-menu {
      position: absolute;
      right: 0;
      top: 45px;
      background-color: #2c2c3e;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
      width: 150px;
      padding: 0.5rem 0;
      z-index: 100;

      .dropdown-item {
        padding: 0.6rem 1rem;
        color: white;
        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          background-color: #3a3a52;
        }

        &.logout {
          color: #f44336;
        }
      }
    }
  }
}

//responsive design for mobile devices
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 101%;
  }

  .navbar-left {
    display: none;
  }

  .navbar-right {
    display: flex !important;
    align-items: center;
    gap: 0.5rem;
  }

  .profile-container {
    display: flex;
    align-items: center;

    .profile-pic {
      width: 25px;
      height: 25px;
      display: block;
    }
  }
}