$dark-bg: #27293d;
$active-bg: #343751;
$text-color: white;

.sidebar {
  background-color: $dark-bg;
  color: $text-color;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    img {
      width: 60%;
      margin-right: 10px;
    }
  }

  nav {
    a:first-child {
      margin-top: 25px;
    }

    a {
      display: flex;
      align-items: center;
      padding: 10px;
      text-decoration: none;
      color: $text-color;
      margin-bottom: 25px;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;

      i {
        margin-right: 10px;
        color: #48bb78;
      }

      &.active {
        background-color: $active-bg;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        transform: scale(1.02);
        font-weight: 600;
      }

      &:hover {
        background-color: #454866;
        transform: scale(1.02);
        box-shadow: 0 0 10px rgba(72, 187, 255, 0.2);
        border-left: 3px solid #66ccff;
        transition: all 0.3s ease;
      }
    }
  }

  .toggle-container {
    display: none;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: $text-color;
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
  }

  //responsive design for mobile devices
  @media (max-width: 768px) {
    width: 80px;
    overflow: hidden;
    min-height: 101vh;

    nav {
      a:first-child {
        margin-top: 15px;
      }
    }

    &.collapsed {
      width: 250px;
      min-height: 101vh;
    }

    span,
    nav a span {
      display: none;
    }

    .logo img {
      display: none;
    }

    &.collapsed span,
    &.collapsed nav a span {
      display: inline;
    }

    &.collapsed .logo img {
      display: block;
      margin-right: 0;
      width: 60%;
    }

    .toggle-container {
      display: block;
    }
  }
}